.main {
    display: flex;
    flex-direction: column;
    padding: 15px 10%;
    /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
}

.div1 {
    background-color: #eee;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: 'Galada', cursive;
    color: rgb(59, 97, 146);
    font-size: 60px;
    flex-grow: 1;
}

.search {
    flex-grow: 3;
    margin: auto;
}

.search-bar {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-color: rgb(59, 97, 146, 10);
    border-style: solid;
    color: rgb(74, 74, 78);
}

.cart {
    font-size: 50px;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

.div2 {
    background-color: rgb(59, 97, 146);
    text-align: center;
    font-family: 'Odibee Sans', cursive;
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: row;
}

.div2items {
    text-align: center;
    flex-grow: 1;
}

.div2items:hover {
    background-color: #00000015;
}

.div3 {
    background-color: rgb(73, 112, 163);
    text-align: left;
    display: flex;
    flex-direction: row;
}

.div3-image {
    flex-grow: 1;
}

.div3-cont {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.div3-cont1 {
    flex-grow: 1;
    font-size: 65px;
    color: white;
    /* padding-top: 100px; */
    font-family: 'Odibee Sans', cursive;
}

.div3-cont2 {
    flex-grow: 1;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.div3-button-area {
    flex-grow: 1;
}

.button {
    background-color: rgb(73, 112, 163);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Odibee Sans', cursive;
}

.button1 {
    background-color: white;
    color: rgb(73, 112, 163);
    border: 2px solid white;
    border-radius: 50px;
}

.button1:hover {
    background-color: rgb(73, 112, 163);
    color: white;
}

.div4 {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.div4-items {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.div4-items-2 {
    /* padding-top: 100px; */
}

.div5 {
    background-color: rgb(73, 112, 163);
    text-align: left;
    color: white;
    font-size: 25px;
    font-family: 'Odibee Sans', cursive;
}

.div6 {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
    text-align: center;
}

.div6-items {
    border-style: solid;
    border-color: #eeeeee;
    border-radius: 40px;
    border-bottom-color: rgb(73, 112, 163);
    border-bottom-width: 8px;
}

.div7 {
    background-color: rgb(73, 112, 163);
    display: flex;
    flex-direction: row;
}

.div7-items {
    flex-grow: 1;
    color: white;
}

.div7-items-1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 25px;
}

.div7-items-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.div8 {
    background-color: rgb(59, 97, 146);
    text-align: center;
}